@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

.newPostSection {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 720px;
}

.dropDownArea {
  width: 80px;
  margin: 0 0 0 auto;
}

.selectOptionDropDown {
  cursor: pointer;
  height: 30px;
  width: 80px;
  border: 1px solid grey;
  border-radius: 30px;
  margin: 0 auto 0;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  padding: 30px 0;
}

.titleInput {
  border: none;
  height: 50px;
  width: 500px;
  font-size: 28px;
  outline: none;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainContent {
  height: 400px;
}

.submitButtonArea {
  width: 500px;
  display: flex;
  justify-content: right;
  margin: 20px auto;
}

.submitBtn {
  padding: 5px 10px;
  background: white;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 50px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.submitBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  cursor: pointer;
  font-weight: bold;
}
